In [1]:
import numpy as np
import pandas as pd

In [2]:
index_val = [('cse', 2019), ('cse', 2020), ('cse', 2021), ('cse', 2022), ('ece', 2019), ('ece', 2020), ('ece', 2021),
             ('ece', 2022)]

multi_index = pd.MultiIndex.from_tuples(index_val)
multi_index

MultiIndex([('cse', 2019),
            ('cse', 2020),
            ('cse', 2021),
            ('cse', 2022),
            ('ece', 2019),
            ('ece', 2020),
            ('ece', 2021),
            ('ece', 2022)],
           )

In [4]:
multi_index.levels

FrozenList([['cse', 'ece'], [2019, 2020, 2021, 2022]])

In [5]:
multi_index.levels[0]

Index(['cse', 'ece'], dtype='object')

In [6]:
multi_index.levels[1]

Index([2019, 2020, 2021, 2022], dtype='int64')

In [8]:
multi_index_2 = pd.MultiIndex.from_product([['cse', 'eee','ece'], [2019, 2020, 2021, 2022]])
multi_index_2

MultiIndex([('cse', 2019),
            ('cse', 2020),
            ('cse', 2021),
            ('cse', 2022),
            ('eee', 2019),
            ('eee', 2020),
            ('eee', 2021),
            ('eee', 2022),
            ('ece', 2019),
            ('ece', 2020),
            ('ece', 2021),
            ('ece', 2022)],
           )

In [12]:
s1 = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9 , 10, 12, 13], index=multi_index_2)
s1

cse  2019     1
     2020     2
     2021     3
     2022     4
eee  2019     5
     2020     6
     2021     7
     2022     8
ece  2019     9
     2020    10
     2021    12
     2022    13
dtype: int64

In [14]:
s1[('cse', 2022)]

4

In [15]:
s1['eee']

2019    5
2020    6
2021    7
2022    8
dtype: int64

In [20]:
print(type(s1))

<class 'pandas.core.series.Series'>

In [16]:
print(s1)

cse  2019     1
     2020     2
     2021     3
     2022     4
eee  2019     5
     2020     6
     2021     7
     2022     8
ece  2019     9
     2020    10
     2021    12
     2022    13
dtype: int64

In [17]:
s_df = s1.unstack()
s_df

     2019  2020  2021  2022
cse     1     2     3     4
ece     9    10    12    13
eee     5     6     7     8

In [21]:
print(type(s_df))

<class 'pandas.core.frame.DataFrame'>

In [19]:
s_df.stack()

cse  2019     1
     2020     2
     2021     3
     2022     4
ece  2019     9
     2020    10
     2021    12
     2022    13
eee  2019     5
     2020     6
     2021     7
     2022     8
dtype: int64

In [22]:
print(type(s_df.stack()))

<class 'pandas.core.series.Series'>