# Tuples

A tuple in Python is similar to a list. The difference between the two is that we cannot change the elements of a tuple once it is assigned whereas we can change the elements of a list.

In short, a tuple is an immutable list. A tuple can not be changed in any way once it is created.

Characterstics

- Ordered
- Unchangeble
- Allows duplicate

### Plan of attack

- Creating a Tuple
- Accessing items
- Editing items
- Adding items
- Deleting items
- Operations on Tuples
- Tuple Functions

In [10]:
import random

# Creating tuple
t1 = ()
print(t1)

# Create a tuple with single item
t2 = ('Hello',)
print(t2)
print(type(t2))

# Homo 
t3 = (1, 3, 4, 5)
print(t3)

# Hetero
t4 = (1, 4, 6, 6, True, [9, 87, 3],)
print(t4)

# 2D tuple 
t5 = (1, 2, 3, (4, 5),)
print(t5)

# Using type conversion
t6 = tuple('Jello')
print(t6)

()
('Hello',)
<class 'tuple'>
(1, 3, 4, 5)
(1, 4, 6, 6, True, [9, 87, 3])
(1, 2, 3, (4, 5))
('J', 'e', 'l', 'l', 'o')

In [ ]:
# Accessing items
# indexing 
# slicing

# Sets

A set is an unordered collection of items. Every set element is unique (no duplicates) and must be immutable (cannot be changed).

However, a set itself is mutable. We can add or remove items from it.

Sets can also be used to perform mathematical set operations like union, intersection, symmetric difference, etc.

Characterstics:
- Unordered
- Mutable
- No Duplicates
- Can't contain mutable data types

In [12]:
# Empty 
s = {}
print(type(s))

# Hence we can only create it with 
s1 = set()
print(type(s1))

<class 'dict'>
<class 'set'>

In [14]:
# 1D and 2D
s2 = {1, 2, 3}
print(s2)

{1, 2, 3}

In [15]:
# 2D set not possible
s3 = {2, 3, 4, {4, 5}}

TypeError: unhashable type: 'set'

In [19]:
# Heterogeneous
s4 = {1, 'Hello', 'Uo', True, (4, 5, 6)}
print(s4)
# Python treats True as 1, that is why it is not showing

{'Uo', 1, 'Hello', (4, 5, 6)}

In [21]:
s5 = set([5, 6])
print(s5)

{5, 6}

In [23]:
 # Adding items

S = {3, 4, 5}
S.add('s')
print(S)

{3, 4, 5, 's'}

In [27]:
S.update((6, 7, 5, 0, 1))
print(S)

{0, 1, 3, 4, 5, 's', 6, 7}

In [28]:
# Deleting
# discard
print(S)
S.discard(5)
print(S)
# Discard does not through an error when not found
# But remove will throw

{0, 1, 3, 4, 5, 's', 6, 7}
{0, 1, 3, 4, 's', 6, 7}

In [29]:
# remove
print(S)
S.remove('s')
print(S)

{0, 1, 3, 4, 's', 6, 7}
{0, 1, 3, 4, 6, 7}

In [30]:
# pop
print(S)
value = S.pop()
print(value)
print(S)

{0, 1, 3, 4, 6, 7}
0
{1, 3, 4, 6, 7}

In [31]:
# 2D frozen set
fs = frozenset([1, 2, 3, frozenset([0, 5])])
fs

frozenset({1, 2, 3, frozenset({0, 5})})

In [33]:
# Set comprehension
{i for i in range(1, 11) if i > 5}

{6, 7, 8, 9, 10}

# Dictionary

Dictionary in Python is a collection of keys values, used to store data values like a map, which, unlike other data types which hold only a single value as an element.

In some languages it is known as map or assosiative arrays.

dict = { 'name' : 'nitish' , 'age' : 33 , 'gender' : 'male' }

Characterstics:

- Mutable
- Indexing has no meaning
- keys can't be duplicated
- keys can't be mutable items

In [34]:
d = {}
print(d)

{}

In [38]:
# 1D dictionary
dict1 = {'name': 'Jack',
         'gender': 'male',
         'age': 26}
print(dict1)

{'name': 'Jack', 'gender': 'male', 'age': 26}

In [39]:
dict1['name']

'Jack'

In [40]:
dict1.get('gender')

'male'

In [41]:
dict1['class'] = 'CSE'
dict1

{'name': 'Jack', 'gender': 'male', 'age': 26, 'class': 'CSE'}

In [42]:
# pop
print(dict1)
dict1.pop('class')
print(dict1)

{'name': 'Jack', 'gender': 'male', 'age': 26, 'class': 'CSE'}
{'name': 'Jack', 'gender': 'male', 'age': 26}

In [43]:
print(dict1.popitem())

('age', 26)

In [44]:
print(dict1)
del dict1['name']
print(dict1)

{'name': 'Jack', 'gender': 'male'}
{'gender': 'male'}

In [45]:
# Print 1st 10 numbers and their squares
{i: i ** 2 for i in range(1, 11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [47]:
# Using existing dict
distances = {
    'delhi': 1000,
    'mumbai': 2000,
    'bangalore': 3000
}
print(distances.items(), '\n')
{key: value * 0.85 for (key, value) in distances.items()}

dict_items([('delhi', 1000), ('mumbai', 2000), ('bangalore', 3000)])

{'delhi': 850.0, 'mumbai': 1700.0, 'bangalore': 2550.0}

In [56]:
# Using zip
import random

days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
temp_c = [round(x + random.uniform(30, 38), 2) for x in range(1, 11)]

{i: j for (i, j) in zip(days, temp_c)}

{'Sunday': 31.42,
 'Monday': 33.98,
 'Tuesday': 34.13,
 'Wednesday': 41.87,
 'Thursday': 41.75,
 'Friday': 42.86,
 'Saturday': 38.27}

In [55]:
# using if condition
products = {'phone': 110, 'laptop': 0, 'charger': 32, 'tablet': 0}
{key: value for (key, value) in products.items() if value > 0}

{'phone': 110, 'charger': 32}

In [59]:
# Nested Comprehension
to_display = {
    2: {1: 2, 2: 4, 3: 6},
    3: {1: 3, 2: 6, 3: 9},
    4: {1: 4, 2: 8, 3: 12}
}

# Print tables of number from 2 to 4
{i:{j:i*j for j in range(1, 11)} for i in range(2, 5)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}