# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**:
```
"Data" "Science" "Mentorship" "Program"
"By" "CampusX"
```
**Output**:
```
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [1]:
# Write your code here
str1 = "Data"
str2 = "Science"
str3 = "Mentorship"
str4 = "Program"
str5 = "By"
str6 = "CampusX"

print(str1, str2, str3, str4, str5, str6, sep='-')

Data-Science-Mentorship-Program-By-CampusX

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [13]:
# Write your code here
user_input = int(input('Enter the celcius value to convert it to fahrenheit: '))
print(user_input)
print((user_input * 9/5) + 32, " fahrenheit")

30
86.0  fahrenheit

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [3]:
# Write your code here

a = 3
b = 5

temp = a
a = b
b = temp

print(a)
print(b)

5
3

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [14]:
# Write your code here
x1, y1 = (input('Enter the x and y with a space: ')).split()
x2, y2 = (input('Enter the second x and y with a space: ')).split()

print(x1, y1)
print(x2, y2)
dist = ((int(x2) - int(x1))**2 + (int(y2) - int(y2))**2)**0.5
print('The distance is: ', dist)

1 2
6 9
The distance is:  5.0

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [5]:
# Write your code here
principle, ROI, time_period = input('Enter the principle, rate of interest (per annum)and time period (in months) (with spaces) to calculate the simple interest: ').split()

print('The Simple interest is: ', (int(principle)) * (int(ROI)/100) * (int(time_period)/12))

The Simple interest is:  1666.6666666666667

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [12]:
# Write your code here
# chickens = (2 * heads - legs // 2)

total_heads = int(input('Enter the total number of heads: '))
total_legs = int(input('Enter the total number of legs: '))

chicken = (2 * total_heads - total_legs // 2)
dogs = total_heads - chicken
print('The chicken are: ', chicken, '\nThe dogs are: ', dogs)

The chicken are:  2
The dogs are:  2

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [15]:
# Write your code here
n_numbers = int(input('Enter the natural numbers: '))
sum = 0
for i in range(1, n_numbers+1):
  sum += i**2

print(n_numbers)
print(sum)

10
385

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [17]:
# Write your code here
# Nth term=first term+(N−1)×d

num1 = int(input('Enter the first number: '))
num2 = int(input('Enter the second number: '))
user_nth_term = int(input('Enter the Nth term you would like to know: '))

d = num2 - num1
nth_term = num1 + (user_nth_term - 1) * d
print(num1)
print(num2)
print(user_nth_term)
print('The Nth term is: ',nth_term)

3
6
5
The Nth term is:  15

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [9]:
# Write your code here
num1_num, num1_den = (input('Enter the first fraction (seperated by /): ')).split(sep = '/')
num2_num, num2_den = (input('Enter the second fraction (seperated by /): ')).split(sep = '/')

print('Sum of the fraction is: ', (int(num1_num)/int(num1_den)) + (int(num2_num)/int(num2_den)))

Sum of the fraction is:  1.4666666666666668

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [10]:
# Write your code here
H = int(input('Enter the Dimensions of the milk tank\nHeight of the milk tank: '))
L = int(input('Enter the width of the milk tank: '))
B = int(input('Enter the breadth of the milk tank: '))

h = int(input('\n\nEnter the Dimensions of the glass\nheight: '))

r = int(input('Enter the radius: '))

In [18]:
print(H)
print(L)
print(B)
print(r)

40
20
30
5

In [11]:
import math
print('The number of glasses are: ', (H*L*B)/(math.pi * r**2 * h))

The number of glasses are:  10.185916357881302