In [1]:
import pandas as pd
import os
import pymysql
from sqlalchemy import create_engine

In [4]:
password = os.environ['user_password']
username = os.environ['user_name']

In [5]:
url = 'database-olap.c9ac2e84wzrm.us-east-1.rds.amazonaws.com'

try:
    engine = create_engine(f'mysql+mysqlconnector://{username}:{password}@{url}:3306/dream11')
except Exception as e:
    print(e)

In [6]:
df = pd.read_sql_query("SELECT * FROM dream11", con=engine)
print(df.shape)
df.head()

(16515, 3)

   match_id        batter  score
0    501243      V Sehwag  332.0
1    501210  SR Tendulkar  272.0
2    598027      CH Gayle  244.0
3    335982   BB McCullum  216.0
4    548342      V Sehwag  202.0